<div class="member">
  <img class="member__photo" src="{{ member.src }}" alt="{{ member.name }}"  data-tilt data-tilt-glare data-tilt-max-glare="0.8">
  <p class="member__name">{{ member.name }}</p>
  <p class="member__role">{{ member.role }}</p>
  <p class="member__social">
    <a href="{{ member.linkedin }}" class="svg member__network" target="_blank">
      <object data="/assets/images/social/linkedin.svg" width="18" height="18" type="image/svg+xml"></object>
    </a>
    {% if member.website %}
    <a href="{{ member.website }}" class="svg member__network" target="_blank">
      <object data="/assets/images/social/web.svg" width="18" height="18" type="image/svg+xml"></object>
    </a>
    {% endif %}
  </p>
</div>
