<p class="countdown__text">Participate to the token sales by sending ETH to the below address.</p>
<div class="token-form">
  <input id="bico-address" value="0x4932b33089a5db82e30a94b4602b3a16f753234c" class="input">
  <button data-clipboard-target="#bico-address" class="button--copy button button--primary mailchimp__button">
      <img src="assets/images/clippy.svg" height="20" width="18" alt="Copy to clipboard">
  </button>
</div>
<p><strong><a href="https://etherscan.io/address/0x4932b33089a5db82e30a94b4602b3a16f753234c" target="_blank">Verify the above address on Etherscan.</a></strong></p>
<p class="token__warning">Warning: By buying BICO token, you accept the <strong><a href="/whitepaper/#disclaimer">terms and conditions</a></strong> of our disclaimer.
Moreover only send ETH from ERC-20 compliant wallets which allow you to control your private key.
Make sure to backup your private key. Do NOT send from an exchange, your ETH will be lost.</p>
