<p class="countdown__text">Participate in the auction by sending ETH to the below address.</p>
<div class="token-form">
  <input id="bico-address" value="0x4932b33089a5db82e30a94b4602b3a16f753234c" class="input">
  <button data-clipboard-target="#bico-address" class="button button--primary mailchimp__button">
      Copy
  </button>
</div>
<p><a href="https://etherscan.io/address/0x4932b33089a5db82e30a94b4602b3a16f753234c">Verify the above address on Etherscan.</a></p>
<p class="token__warning">Warning: By buying BICO token, you accept the <a href="/whitepaper/#disclaimer">terms and conditions</a> of our disclamer.
Moreover only send ETH from ERC-20 compliant wallets which allow you to control your private key.
Make sure to backup your private key. Do NOT send from an exchange, your ETH will be lost.</p>


<!-- <img src="assets/images/clippy.svg" alt="Copy to clipboard"> -->
