.header {
  @include container($container-padding);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &__text {
    flex: 2;
    padding-left: 90px;
    padding-top: 50px;
  }

  &__illustration {
    flex: 1;
  }

  &__uvp {

  }

  &__form {

  }
}

.countdown {
  &__text {

  }
}

.book {
  &__title {

  }

  &__description {

  }

  &__button {

  }
}

.how {
  &__title {

  }

  &__description {

  }
}

.step {
  &__number {

  }

  &__text {

  }
}

.future {
  &__title {

  }

  &__description {

  }
}

.team {
  &__title {

  }
}

.member {
  &__photo {

  }

  &__name {

  }
}

.contact {
  &__title {

  }
}
