.header {
  @include container($container-padding);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding-top: 80px;
  padding-bottom: 180px;

  &__text {
    flex: 2;
    padding-top: 50px;
    padding-left: $large-padding;
  }

  &__illustration {
    padding-right: $large-padding;
    flex: 1;
  }

  &__uvp {
  }

  &__subline {
      font-size: $font-xmd;
  }

  &__form {

  }
}

.countdown {
  &__text {
    color: $primary-color;
    font-size: $font-md;
  }
}

.book {
  margin-top: 100px;
  text-align: center;
  background-color: $secondary-color;
  color: #fff;
  padding: $large-padding-vertical 0;

  &__title {

  }

  &__description {

  }

  &__button {
    color: #fff;
  }
}

.how {
  @include container($container-padding);
  padding: $large-padding-vertical 0;

  &__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
  }

  &__title {
    flex: 1;
    padding-right: $gutter;
  }

  &__description {
    flex: 3;
    margin: 0;
  }
}

.step {
  margin-top: $large-padding-vertical;
  flex: 1;

  padding-right: $gutter;

  &:last-of-type {
    padding-right: 0;
  }

  &__number {
    border-top: 8px solid $third-color;
    font-size: $font-xl;
    color: $third-color;
    margin: 0;
    padding: 0;
    font-weight: 900;
  }

  &__text {

  }
}

.tokens {
  padding: $large-padding-vertical 0;
  text-align: center;
  background-color: #eee;

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__title {

  }

  &__description {

  }
}


.token {
  margin: 50px 0;

  &__name {
    font-size: $font-md;
    margin: 0;
    padding: 0;
    font-weight: 300;
  }

  &__value {
    font-size: $font-xxl;
    margin: 0;
    padding: 0;
    font-weight: 900;
  }
}

.team {
  @include container($container-padding);
  padding: $large-padding-vertical 0;
  text-align: center;

  &__title {

  }

  &__members {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}



.member {
  margin: 50px 0;
  flex: 1;
  padding-right: $gutter;

  &:last-of-type {
    padding-right: 0;
  }

  &__photo {
    width: 100%;
    height: auto;
    filter: grayscale(1);
  }

  &__name {

  }
}

.contact {
  padding: $large-padding-vertical 0;
  background-color: $primary-color;
  color: #fff;

  a {
    color: #fff;

    &:hover {
      color: #ccc;
    }
  }

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__title {

  }
}
