// Variables

$font-family-primary: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
$font-family-secondary: 'Montserrat', -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;

$container-width: 1400px;
$container-padding: 30px;
$large-padding: 90px;
$large-padding-vertical: 150px;
$gutter: 30px;

$primary-color: #4848B4;
$secondary-color: #2ECC40;
$third-color:  #39CCCC;
$text-color: #333;
$link-color: #1b1b1b;
$grey-color: #aaa;

$font-xxl: 72px;
$font-xl: 56px;
$font-xmd: 36px;
$font-md: 22px;
$font-body: 20px;
$font-sm: 16px;
$font-xs: 14px;


// Mixin

@mixin container($padding) {
  max-width: $container-width;
  padding: 0 $padding;
  margin: auto;
}


// Global

body {
  font-family: $font-family-primary;
  color: $text-color;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-size: $font-body;
  line-height: 1.5;
}

main {
  flex: 1;
  width: 100%;
}

a {
  color: $link-color;
  text-decoration: none;
  font-size: $font-sm;

  &:hover {
    color: $primary-color;
  }
}

h1, h2 {
  font-family: $font-family-secondary;
}

h1 {
  font-size: $font-xxl;
  font-weight: 700;
  line-height: 1;
}

h2 {
  margin: 0;
  font-size: $font-xmd;
}


// Shared

.button {
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 50px;
  padding: 15px 30px;
  font-weight: 300;
  background-color: rgba(255,255,255,0.1);

  &:hover {
    background-color: rgba(255,255,255,0.9);
  }
}

.accent {
  color: $primary-color;
}

.container {
    @include container($container-padding + $large-padding);
}

// Components & pages

.navigation {

  @include container($container-padding);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding-bottom: 10px;

  &__branding {
      display: flex;
      align-items: center;
  }

  &__title {
    color: $text-color !important;
    font-size: $font-md;
    font-weight: 900;
  }

  &__logo {
    margin-right: 10px;
  }

  &__logo-img {
    height: 60px;
    width: 60px;
  }

  &__links {
    display: flex;
    flex-direction: row;
  }

  &__link {
    margin-left: 30px;
    font-size: $font-xs;
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #fff;
    font-weight: 700;

    &:hover {
      border-bottom: 1px solid $primary-color;
    }
  }

}


.page {

  @include container($container-padding);
  margin-top: 60px;

  &__header {
    padding: 0 $container-padding;
  }


  &__content {
    padding: 0 $container-padding;
  }
}

.blog {
  @include container($container-padding);
  margin-top: 60px;


  &__post {

    padding: 0 $container-padding;
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid lighten($link-color, 40%);

    @media (max-width: 900px) {
      flex-direction: column;
    }

    &:first-child {
      padding-top: 10px;
    }

    &:last-child {
      border-bottom: none;
    }
  }

  &__date {
    padding-top: 15px;
    width: 30%;
    color: $link-color;
  }

  &__content {
    width: 100%;
  }


  &__link {
    &:hover {
      color: $link-color;
    }
  }

  &__title {
    color: $text-color;
    font-size: $font-md;
    padding-top: 0;
  }

  &__excerpt {
    color: $link-color;
  }
}


.post {

  @include container($container-padding);
  margin-top: 80px;


  &__container {
    padding: 0 $container-padding;
  }

  &__meta {
    padding-bottom: 40px;
    margin-bottom: 40px;
    border-bottom: 1px solid lighten($link-color, 40%);
  }

}


.footer {

  background-color: $primary-color;
  color: #fff !important;

  a {
    color: #fff;

    &:hover {
      color: #ccc;
    }
  }

  &__container {
    @include container($container-padding);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
  }

  &__link {
    font-weight: 500;
    margin-left: 20px;
  }
}

.love {
  color: #FF4136;
}
