#particles-js {
  min-height: 100vh;
}

.header {
  @include container($container-padding);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @include breakpoint(sm) {
    flex-direction: row;
  }

  &__container {

    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @include breakpoint(sm) {
      position: absolute;
    }
  }

  &__text {
    flex: 2;
    padding-top: 50px;
    padding-right: 50px;
  }

  &__illustration {
    flex: 1;
    margin-top: 20px;
  }

  &__uvp {
    margin-bottom: 25px;
  }

  &__subline {
      font-size: $font-xmd;
  }

  &__image {
    padding: 0;
    width: 80%;

    @include breakpoint(lg) {
      padding-left: 50px;
    }
  }

  &__register {
    margin-top: 10px;
  }
}

.countdown {
  &__text {
    color: $primary-color;
    font-size: $font-md;
  }
}

.book {
  margin-top: 100px;
  text-align: center;
  background-color: $secondary-color;
  color: #fff;
  padding: $large-padding-vertical 0;

  &__button {
    color: #fff;
  }
}
