---
layout: default
---

<div id="particles-js">
  <div class="header__container">
    <header class="header">
      <div class="header__text">
        <h1 class="header__uvp">{% t home.header.headline %}</h1>
        <h2 class="header__subline">{% t home.header.subline %}</h2>
        <p class="countdown__text">{% t home.header.counter %}</p>
      </div>
      <div class="header__illustration">
        <img src="/assets/images/book.png" class="header__image" alt="" data-tilt data-tilt-glare data-tilt-max-glare="0.8" data-tilt-scale="1.05">
      </div>
    </header>
  </div>
</div>
