---
layout: default
---

<header class="header">
  <div class="header__text">
    <h1 class="header__uvp">{% t home.header.headline %}</h1>
    <h2 class="header__subline">{% t home.header.subline %}</h2>
    <div class="countdown">
      <p class="countdown__text">{% t home.header.counter %}</p>
    </div>
    <div class="header__form">
      {% include mailchimp.html %}
      <div class="header__register">
        {% t home.header.register %}
      </div>
    </div>
  </div>
  <div class="header__illustration">
    <img src="/assets/images/book.png" class="header__image" alt="">
  </div>
</header>

<section class="book">
  <div class="container">
    <h2 class="book__title">{% t home.book.title %}</h2>
    <p class="book__description">{% t home.book.description %}</p>
    <a href="#" class="book__button button button--secondary">{% t home.book.button %}</a>
  </div>
</section>

<section class="how">
  <div class="how__row">
    <h2 class="how__title">{% t home.how.title %}</h2>
    <p class="how__description">{% t home.how.description %}</p>
  </div>
  <div class="how__row">
    {% for step in site.translations[site.lang].home.how.steps %}
    <div class="step">
      <p class="step__number">0{{ forloop.index }}.</p>
      <p class="step__text">{{ step }}</p>
    </div>
    {% endfor %}
  </div>
</section>

<section class="tokens">
  <div class="container">
    <h2 class="tokens__title">{% t home.tokens.title %}</h2>
    <div class="tokens__content">
      {% for token in site.translations[site.lang].home.tokens.content %}
      <div class="token">
        <p class="token__value">{{ token.value }}</p>
        <h3 class="token__name">{{ token.name }}</h3>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<section class="team">
  <h2 class="team__title">{% t home.team.title %}</h2>
  <div class="team__members">
    {% for member in site.translations[site.lang].home.team.members %}
    <div class="member">
      <img class="member__photo" src="{{ member.src }}" alt="{{ member.name }}">
      <p class="member__name">{{ member.name }}</p>
    </div>
    {% endfor %}
  </div>
</section>

<section class="contact" id="contact">
  <div class="container contact__container">
    <h2 class="contact__title">{% t home.contact.title %}</h2>
    <div class="contact__social">
      {% for network in site.translations[site.lang].home.contact.network %}
      <a href="{{ network.url }}" class="contact__network">{{ network.name }}</a>
      {% endfor %}
    </div>
  </div>
</section>
